/* General Page Layout */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topbar {
  position: fixed; /* Fixes the topbar in place */
  top: 0; /* Aligns it to the top of the page */
  left: 0; /* Aligns it to the left side of the page */
  width: 100%; /* Full width of the viewport */
  background-color: #f0f0f0; /* Background color (optional) */
  padding: 10px 20px; /* Padding for some spacing */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional shadow for visual effect */
  z-index: 1000; /* Ensures the topbar stays on top of other elements */
  display: grid; /* Use grid for layout */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Create responsive columns */
  gap: 10px; /* Spacing between columns */
  align-items: center; /* Center items vertically */
}

.topbar a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Text color */
  text-align: center; /* Center text within links */
}

.topbar a:hover {
  opacity: 1;
}

.content {

  padding: 30px;
  padding-top: 60px;
}

/* Additional Styles for CharacterDetail */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.origins,
.traits {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.skills-stats {
  grid-column: 1 / -1;
  /* Span across both columns */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.save-button {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: not-allowed;
  /* Button does nothing when clicked */
}

button:disabled {
  background-color: #cccccc;
}

.skill-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

.skill-item span {
  margin-right: 5px;
}